html{
    max-width: 100%;
    overflow-x: hidden;
}

/* *{
    border: 1px solid red;
} */

body{
    max-width: 100%;
    background-image: url(Assets/background3.png);
    background-size: repeat;
    overflow-x: hidden;
}

/*
Lightblue mobile view
Lighpink tablet view
Lightseagreen desktop view
*/

/*
Brand colors
#ffffff
#493e44
#605a5e
#777678
#8f9393
*/

/* Phone display */
@media only screen and (max-width: 600px) {

    /* Body */
    body{
        background-color: lightblue;
    }

    /* Navbar */
    .navbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        color: darkgray;
        font-size: 10vh;
        z-index: 9998;
    }

    /* Navbar Animation */
    @keyframes nav-animation{
        0% {
            opacity: 0;
            top: -100%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }
    
    .nav-animation{
        opacity: 0;
        animation: nav-animation 1s ease-in forwards;
        animation-direction: normal;
    }

    /* Header */

    header{
        position: fixed;
        top: 0px;
        display: block;
        width: 100%;
        height: auto;
        background-color: white;
        z-index: 9999;
    }

    header img{
        width: 40%;
    }

    /* Navbar Button */
    .nav-button {
        display: inline-block;
        position: fixed;
        right: 20px;
        top: 7px;
        z-index: 9999;
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        outline: none;
    }
    
    .nav-button .fas {
        font-size: 4vh;
    }

    /* Home Links */
    .Home-links a{
        margin: 0px;
        display: inline-block;
        text-decoration: none;
        color: white;
        text-align: left;
        padding-left: 5%;
    }

    /* Nav Link Animation */
    @keyframes nav-link-animation{
        0% {
            opacity: 0;
            top: -100%;
        }
        50%{
            opacity: 0;
            top: 50%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }
    
    .nav-link-animation{
        opacity: 0;
        animation: nav-link-animation 1s ease-in forwards;
        animation-delay: 0.5s;
        animation-direction: normal;
    }

    /********************************************************************/

    /* Welcome Message */
    .welcome-message{
        display: inline-block;
        width: 90%;
        margin-top: 20%;
        margin-left: 10%;
        margin-bottom: 10vh;
        text-align: left;
        font-size: 15vw;
    }

    /* Carousel */
    #carousel {
        margin: 0 2% 50% 13%;
        width: 100%;
        max-width: 100%;
    }

    .carousel-item img {
        max-width: 100%;
        height: auto;
        transition: transform 0.5s ease;
    }

    /* Gallery */
    .gallery {
        width: 100%;
        margin: 5px;
        display: block;
        justify-content: center;
    }
    
    .gallery-img {
        position: relative;
        padding-bottom: 200px;
        box-sizing: border-box;
        width: 100%; /* Ensure gallery images fit within screen width */
        max-width: 100%; /* Ensure gallery images don't exceed screen width */
    }

    .gallery-img img {
        width:100%;
        height: auto;
    }

    .gallery-name {
        position: absolute;
        color: rgb(0, 0, 0);
        font-size: 7vw;
        text-decoration: underline;
        top: 0;
    }

    /* Animation for underline */
    @keyframes gallery-name {
        
    }

    .info-display {
        display: inline-block;
        width: 60%;
        margin: 0;
        height: auto;
        border: #000000 solid;
        background-color: #000000;
        color: white;
        border-radius: 2px;
        max-width: 100%; /* Ensure info display fits within screen width */
    }
    
    .info-display a {
        color: white;
        text-decoration: none;
    }

    .gallery-social-media {
        width: 40%;
        position: relative;
        font-size: 5vw;
        color: black;
        padding: 1%;
    }
    
    /* Accordion */
    .accordion {
        position: relative;
        max-width: 100%;
        padding: 0 30px 0 0;
    }
    
    .slides {
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .slider {
        list-style-type: none;
        height: 400px;
        width: 5%;
        overflow: hidden;
        transition: all 500ms linear;
    }

    .slider a.action{
        display: block;
        height: 100%;
        position: relative;
    }
    .slider a.action span{
        font-weight: 600;
        color:#fff;
        transform: rotate(270deg);
        position: absolute;
        top: 10%;
        width: 140px;
        left: -30%;
        height: 100px;
    }
    .slide-content{
        display: block;
        width: 100%;
        padding: 40px;
        color:#fff;
        
    }

    .active {
        width:80%;
    }

    .active a.action{
        display: none;
    }

    .accordion-control-prev{
        position: absolute;
        top: 40%;
        left: 0;
        margin-right: auto;
        font-size: 5vh;
        border: none;
        background-color: transparent;
    }

    .accordion-control-next{
        position: absolute;
        top: 40%;
        right: 0;
        margin-left: auto;
        font-size: 5vh;
        border: none;
        background-color: transparent;
    }

    /* Brand Colors */
    .brand1{
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand2{
        background-color: #b43e8f;
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand3{
        background-color: #6200b3;
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand4{
        background-color: #3b0086;
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand5{
        background-color: #290628;
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }

    /********************************************************************/
      
    /* Footer */
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: white;
        width: 100%;
        height: auto;
    }

    
    /********************************************************************/
    /* Contact page */

    .contact-us{
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .contact{
        position: relative;
        width: 90%;
        margin: auto;
        height: auto;
        padding: 5% 10% 5% 10%;
        display: block;
        border: #000000 solid;
        border-width: 1px;
        border-radius: 5px;
        color: darkgray;
        background-color: #222;
    }

    .contact h1{
        font-size: 6vh;
    }

    #contact-select-1{
        position: relative;

        top: 0;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-1:hover{
        color: white;
    }


    #contact-select-2{
        position: relative;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-2:hover{
        color: white;
    }
    
    #contact-select-3{
        position: relative;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-3:hover{
        color: white;
    }


    .contact label{
        margin-top: 10%;
        font-size: 2vh;
    }

    .contact input, textarea{
        width: 100%;
        height: 50px;
        background-color: transparent;
        border-style: solid;
        border-color: darkgray;
        border-width: 1px;
        margin-top: 2%;
    }

    .contact input:hover{
        background-color: darkgray;
        color: #222;
    }

    .contact input:focus, input:focus {
        color: darkgray;
    }

    .contact #submit{
        color: darkgray;
    }

    .contact #submit:hover{
        color: #222;
        background-color: darkgray;
    }
}


/* Tablet view */
@media only screen and (min-width: 601px) {

    /* Body */
    body{
        background-color: lightpink;
    }

    /* Navbar */
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        color: darkgray;
        font-size: 10vh;
        z-index: 9998;
    }

    /* Navbar Animation */
    @keyframes nav-animation {
        0% {
            opacity: 0;
            top: -100%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }

    .nav-animation {
        opacity: 0;
        animation: nav-animation 1s ease-in forwards; /* Corrected animation name */
        animation-direction: normal;
    }

    /* Header */

    header{
        position: fixed;
        width: 100%;
        max-width: 100%;
        height: auto;
        background-color: white;
        z-index: 9999;
    }

    header img{
        width: 50%;
    }

    /* Navbar Button */
    .nav-button {
        display: inline-block;
        position: fixed;
        right: 20px;
        top: 25px;
        z-index: 9999; /* Ensure the button is above other elements */
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        outline: none;
    }

    .nav-button .fas {
        font-size: 4vh;
    }

    /* Home Links */
    .Home-links a{
        margin: 0;
        display: inline-block;
        text-decoration: none;
        color: white;
        text-align: left;
        padding-left: 5%;
    }

    /* Nav Link Animation */
    @keyframes nav-link-animation {
        0% {
            opacity: 0;
            top: -100%;
        }
        50%{
            opacity: 0; /* Corrected opacity value */
            top: 50%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }

    .nav-link-animation {
        opacity: 0;
        animation: nav-link-animation 1s ease-in forwards;
        animation-delay: 0.5s;
        animation-direction: normal;
    }

    /********************************************************************/


    .welcome-message{
        display: inline-block;
        width: 80%;
        margin-top: 10%;
        margin-left: 20%;
        margin-bottom: 15%;
        text-align: left;
        font-size: 9vw;
    }

    /* Carousel */
    #carousel {
        margin-bottom: 30%;
        width: 130%;
    }

    .carousel-item img {
        max-width: 100%;
        height: auto;
        transition: transform 0.5s ease;
    }

    /* Gallery */
    .gallery {
        width: 100%;
        margin: 5px 5px 200px 5px;
        display: block;
        justify-content: center;
    }
    
    .gallery-img {
        position: relative;
        padding-bottom: 200px;
        box-sizing: border-box;
    }

    .gallery-img img{
        width:100%;
        height: auto;
    }

    .gallery-name{
        position: absolute;
        color: rgb(0, 0, 0);
        font-size: 7vw;
        text-decoration: underline;
        top: 0;
    }

    /* animation for underline */
    @keyframes gallery-name {
        
    }

    .info-display {
        display: inline-block;
        width: 60%;
        margin: 0;
        height: auto;
        border: #000000 solid;
        background-color: #000000;
        color: white;
        border-radius: 2px;
    }

    .info-display p{
        font-size: 120%;
    }
    
    .info-display a {
        color: white;
        text-decoration: none;
    }

    .gallery-social-media{
        width: 40%;
        position: relative;
        font-size: 6vw;
        color: black;
        padding: 10px;
    }

    /* Accordion */
    .accordion {
        max-width: 100%;
        padding: 0 20px;
    }
    
    .slides {
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .slider {
        list-style-type: none;
        height: 400px;
        width: 5%;
        overflow: hidden;
        transition: all 500ms linear;
    }

    .slider a.action{
        display: block;
        height: 100%;
        position: relative;
    }
    .slider a.action span{
        font-weight: 600;
        color:#fff;
        transform: rotate(270deg);
        position: absolute;
        top: 10%;
        width: 140px;
        left: -30%;
        height: 100px;
    }
    .slide-content{
        display: block;
        width: 100%;
        padding: 40px;
        color:#fff;
        
    }

    .active {
        width:80%;
    }

    .active a.action{
        display: none;
    }

    .accordion-buttons{
        display: none;
    }

    /* Brand Colors */
    .brand1{
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand2{
        background-color: #b43e8f;
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand3{
        background-color: #6200b3;
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand4{
        background-color: #3b0086;
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand5{
        background-color: #290628;
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }

    /* Footer */
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: white;
        width: 100%;
        height: auto;
    }

    
    /********************************************************************/
    /* Contact page */

    .contact-us{
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .contact{
        position: relative;
        width: 90%;
        margin: auto;
        height: auto;
        padding: 5% 10% 5% 10%;
        display: block;
        border: #000000 solid;
        border-width: 1px;
        border-radius: 5px;
        color: darkgray;
        background-color: #222;
    }

    .contact h1{
        font-size: 10vh;
    }

    #contact-select-1{
        position: relative;

        top: 0;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-1:hover{
        color: white;
    }


    #contact-select-2{
        position: relative;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-2:hover{
        color: white;
    }
    
    #contact-select-3{
        position: relative;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-3:hover{
        color: white;
    }


    .contact label{
        margin-top: 10%;
        font-size: 2vh;
    }

    .contact input, textarea{
        width: 100%;
        height: 50px;
        background-color: transparent;
        border-style: solid;
        border-color: darkgray;
        border-width: 1px;
        margin-top: 2%;
    }

    .contact input:hover{
        background-color: darkgray;
        color: #222;
    }

    .contact input:focus, input:focus {
        color: darkgray;
    }

    .contact #submit{
        color: darkgray;
    }

    .contact #submit:hover{
        color: #222;
        background-color: darkgray;
    }
}



/* Desktop and above */
@media only screen and (min-width: 992px) {

    /* Body */
    body {
        background-color: lightseagreen;
    }

    /* Navbar */
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        max-width: 100%;
        height: 100%;
        background-color: transparent;
        opacity: 1;
        color: darkgray;
        font-size: 100%;
        z-index: 9998;
    }


    /* Navbar Button */
    .nav-button {
        display: none;
    }

    .main-logo{
        position: fixed;
        display: block;
        bottom: 2%;
        left: 1%;
        width: 10%;
        max-width: 15%;
        height: auto;
    }

    /* Home Links */
    .Home-links a {
        margin: 0;
        display: inline-block;
        text-decoration: none;
        color: black;
        text-align: left;
    }

    /* Welcome Message */
    .welcome-message{
        display: inline-block;
        width: 80%;
        margin-top: 10%;
        margin-left: 20%;
        margin-bottom: 15%;
        text-align: left;
        font-size: 9vw;
    }

    /* Carousel */
    #carousel {
        margin-left: 20%;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .carousel-item img {
        max-width: 100%;
        max-height: 700px;
        height: auto;
        transition: transform 0.5s ease;
    }

    /* Gallery */
    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80%;
        margin-left: 25%; /* Adjusted margin */
        margin-top: 10vh;
    }

    .gallery-img {
        position: relative;
        box-sizing: border-box;
        padding: 10px;
        margin: 20% 0;
    }

    .gallery-img:nth-child(odd) {
        margin-left: 5%;
        margin-right: auto;
    }

    .gallery-img:nth-child(even) {
        margin-right: 5%;
        margin-left: auto;
    }

    .gallery-img img {
        width: 70vw;
        height: auto;
    }

    .info-display{
        position: absolute;
        max-width: 60%;
        width: 60%;
        margin: 0;
        height: auto;
        max-height: 10%;
        top: 70%;
        border: #000000 solid;
        background-color: #000000;
        color: white;
        border-radius: 2px;
    }

    .gallery-name h3{
        margin-top: -20%;
        color: black;
        font-size: 2vw;
        width: 40%;
    }

    .gallery-social-media{
        display: block;
        width: 40%;
        position: relative;
        font-size: 2vw;
        color: black;
        padding: 1%;
    }
    
    .info-display a {
        color: white;
        text-decoration: none;
    }

    /* Accordion */
    .accordion {
        max-width: 80%;
        padding: 0 20px;
        margin-left: 20%; /* Adjusted margin */
    }

    .slides {
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
    }

    .slider {
        list-style-type: none;
        height: 400px;
        width: 5%;
        overflow: hidden;
        transition: all 500ms linear;
    }

    .slider a.action {
        display: block;
        height: 100%;
        position: relative;
    }

    .slider a.action span {
        font-weight: 600;
        color: #fff;
        transform: rotate(270deg);
        position: absolute;
        top: 10%;
        width: 140px;
        left: -30%;
        height: 100px;
    }

    .slide-content {
        display: block;
        width: 100%;
        padding: 40px;
        color: #fff;
    }

    .active {
        width: 80%;
    }

    .active a.action {
        display: none;
    }

    .accordion-buttons{
        display: none;
    }

    /* Brand Colors */
    .brand1{
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand2{
        background-color: #b43e8f;
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand3{
        background-color: #6200b3;
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand4{
        background-color: #3b0086;
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand5{
        background-color: #290628;
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }

    /* Footer */
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 20%; /* Adjusted margin */
        padding: 0;
        background-color: white;
        width: 80%;
        height: auto;
        z-index: 9999;
    }

    /********************************************************************/
    /* Contact page */

    .contact-us{
        width: 80%;
        max-width: 100%;
        margin-left: 20%;
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .contact{
        position: relative;
        margin-left: 15%;
        width: 80%;
        height: auto;
        padding: 5% 10% 5% 10%;
        display: block;
        border: #000000 solid;
        border-width: 1px;
        border-radius: 5px;
        color: darkgray;
        background-color: #222;
    }

    .contact h1{
        font-size: 10vh;
    }

    #contact-select-1{
        position: relative;

        top: 0;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-1:hover{
        color: white;
    }


    #contact-select-2{
        position: relative;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-2:hover{
        color: white;
    }
    
    #contact-select-3{
        position: relative;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-3:hover{
        color: white;
    }


    .contact label{
        margin-top: 10%;
        font-size: 2vh;
    }

    .contact input, textarea{
        width: 100%;
        height: 50px;
        background-color: transparent;
        border-style: solid;
        border-color: darkgray;
        border-width: 1px;
        margin-top: 2%;
    }

    .contact input:hover{
        background-color: darkgray;
        color: #222;
    }

    .contact input:focus, input:focus {
        color: darkgray;
    }

    .contact #submit{
        color: darkgray;
    }

    .contact #submit:hover{
        color: #222;
        background-color: darkgray;
    }


}


/*splach screen*/
#splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    line-height: 90vh;
    z-index: 9999;
}

#splashscreen.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    text-align: center;
    line-height: 90vh;
    z-index: -10;
    transition: all 0s; /*change 0 to 0.5 later*/
}


@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
