/* body{
    
    background-image: url(Assets/background3.png);
    background-size:auto;
} */

/*
Lightblue mobile view
Lighpink tablet view
Lightseagreen desktop view
*/

/*
Brand colors
#ffffff
#493e44
#605a5e
#777678
#8f9393
*/

/* Phone display */
@media only screen and (max-width: 600px) {

    /* Body */
    body{
        background-color: lightblue;
    }

    /* Navbar */
    .navbar{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        color: darkgray;
        font-size: 10vh;
        z-index: 9998;
    }

    /* Navbar Animation */
    @keyframes nav-animation{
        0% {
            opacity: 0;
            top: -100%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }
    
    .nav-animation{
        opacity: 0;
        animation: nav-animation 1s ease-in forwards;
        animation-direction: normal;
    }

    /* Navbar Button */
    .nav-button {
        display: inline-block;
        position: fixed;
        right: 20px;
        top: 25px;
        z-index: 9999; /* Ensure the button is above other elements */
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        outline: none;
    }
    
    .nav-button .fas {
        font-size: 4vh;
    }

    /* Home Links */
    .Home-links a{
        margin: 0px;
        display: inline-block;
        text-decoration: none;
        color: white;
        text-align: left;
        padding-left: 5%;
    }

    /* Nav Link Animation */
    @keyframes nav-link-animation{
        0% {
            opacity: 0;
            top: -100%;
        }
        50%{
            opacity: 0;
            top: 50%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }
    
    .nav-link-animation{
        opacity: 0;
        animation: nav-link-animation 1s ease-in forwards;
        animation-delay: 0.5s;
        animation-direction: normal;
    }

    /********************************************************************/

    /* Welcome Message */
    .welcome-message{
        display: inline-block;
        width: 90%;
        margin-top: 20%;
        margin-left: 10%;
        margin-bottom: 10vh;
        text-align: left;
        font-size: 15vw;
    }

    /* Carousel */
    .carousel{
        margin-bottom: 20%;
    }

    /* Gallery */
    .gallery {
        width: 90%;
        margin: 5px 5px 200px 5px;
        display: block;
        justify-content: center;
    }
    
    .gallery-img {
        padding-bottom: 200px;
        box-sizing: border-box;
    }

    .gallery-img img{
        width:100%;
        height: auto;
    }

    .info-display {
        top: 0;
        display: inline-block;
        width: 60%;
        height: 7vh;
        border: #000000 solid;
        background-color: #000000;
        color: white;
        border-radius: 2px;
    }
    
    .info-display a {
        bottom: 0;
        right: 0;
        color: white;
        text-decoration: none;
    }
    
    /* Accordion */
    .accordion {
        max-width: 100%;
        padding: 0 20px;
    }
    
    .slides {
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .slider {
        list-style-type: none;
        height: 400px;
        width: 5%;
        overflow: hidden;
        transition: all 500ms linear;
    }

    .slider a.action{
        display: block;
        height: 100%;
        position: relative;
    }
    .slider a.action span{
        font-weight: 600;
        color:#fff;
        transform: rotate(270deg);
        position: absolute;
        top: 10%;
        width: 140px;
        left: -30%;
        height: 100px;
    }
    .slide-content{
        display: block;
        width: 100%;
        padding: 40px;
        color:#fff;
        
    }

    .active {
        width:80%;
    }

    .active a.action{
        display: none;
    }

    /* Brand Colors */
    .brand1{
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand2{
        background-color: #b43e8f
    }
    .brand3{
        background-color: #6200b3
    }
    .brand4{
        background-color: #3b0086
    }
    .brand5{
        background-color: #290628
    }

    /********************************************************************/
      
    /* Footer */
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: white;
        width: 100%;
        height: auto;
    }
}


/* Tablet view */
@media only screen and (min-width: 601px) {

    /* Body */
    body{
        background-color: lightpink;
    }

    /* Navbar */
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        color: darkgray;
        font-size: 10vh;
        z-index: 9998;
    }

    /* Navbar Animation */
    @keyframes nav-animation {
        0% {
            opacity: 0;
            top: -100%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }

    .nav-animation {
        opacity: 0;
        animation: nav-animation 1s ease-in forwards; /* Corrected animation name */
        animation-direction: normal;
    }

    /* Navbar Button */
    .nav-button {
        display: inline-block;
        position: fixed;
        right: 20px;
        top: 25px;
        z-index: 9999; /* Ensure the button is above other elements */
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        outline: none;
    }

    .nav-button .fas {
        font-size: 4vh;
    }

    /* Home Links */
    .Home-links a{
        margin: 0;
        display: inline-block;
        text-decoration: none;
        color: white;
        text-align: left;
        padding-left: 5%;
    }

    /* Nav Link Animation */
    @keyframes nav-link-animation {
        0% {
            opacity: 0;
            top: -100%;
        }
        50%{
            opacity: 0; /* Corrected opacity value */
            top: 50%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }

    .nav-link-animation {
        opacity: 0;
        animation: nav-link-animation 1s ease-in forwards;
        animation-delay: 0.5s;
        animation-direction: normal;
    }

    /********************************************************************/


    .welcome-message{
        display: inline-block;
        width: 80%;
        margin-top: 10%;
        margin-left: 20%;
        margin-bottom: 15%;
        text-align: left;
        font-size: 9vw;
    }

    /* Gallery */
    .gallery {
        display: flex;
        flex-direction: column; /* Change flex direction to column */
        align-items: center; /* Center align items horizontally */
        max-width: 100%;
    }

    .gallery-img {
        flex: 0 0 100%; /* Set each image to occupy 100% width */
        box-sizing: border-box;
        padding: 10px;
        margin: 10px 0; /* Add vertical margin to separate images */
    }

    .gallery-img img{
        width: 80vw;
        height: auto;
    }

    .gallery-img:nth-child(even) {
        margin-left: 0;
        margin-right: auto;
    }

    .gallery-img:nth-child(odd) {
        margin-right: 0;
        margin-left: auto;
    }

    .info-display {
        top: 0;
        display: inline-block;
        width: 60%;
        height: 7vh;
        border: #000000 solid;
        background-color: #000000;
        color: white;
        border-radius: 2px;
    }

    .info-display a {
        bottom: 0;
        right: 0;
        color: white;
        text-decoration: none;
    }

    /* Accordion */
    .accordion {
        max-width: 100%;
        padding: 0 20px;
    }

    .slides {
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
    }

    .slider {
        list-style-type: none;
        height: 400px;
        width: 5%;
        overflow: hidden;
        transition: all 500ms linear;
    }

    .slider a.action{
        display: block;
        height: 100%;
        position: relative;
    }
    .slider a.action span{
        font-weight: 600;
        color:#fff;
        transform: rotate(270deg);
        position: absolute;
        top: 10%;
        width: 140px;
        left: -30%;
        height: 100px;
    }
    .slide-content{
        display: block;
        width: 100%;
        padding: 40px;
        color:#fff;
    }

    .active {
        width:80%;
    }

    .active a.action{
        display: none;
    }

    /* Brand Colors */
    .brand1{
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand2{
        background-color: #b43e8f
    }
    .brand3{
        background-color: #6200b3
    }
    .brand4{
        background-color: #3b0086
    }
    .brand5{
        background-color: #290628
    }

    /* Footer */
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: white;
        width: 100%;
        height: auto;
    }

}



/* Desktop and above */
@media only screen and (min-width: 992px) {

    /* Body */
    body {
        background-color: lightseagreen;
    }

    /* Navbar */
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        height: 100%;
        background-color: transparent;
        opacity: 1;
        color: darkgray;
        font-size: 100%;
        z-index: 9998;
    }


    /* Navbar Button */
    .nav-button {
        display: none;
    }

    /* Home Links */
    .Home-links a {
        margin: 0;
        display: inline-block;
        text-decoration: none;
        color: black;
        text-align: left;
    }

    /* Welcome Message */
    .welcome-message{
        display: inline-block;
        width: 80%;
        margin-top: 10%;
        margin-left: 20%;
        margin-bottom: 15%;
        text-align: left;
        font-size: 9vw;
    }

    /* Gallery */
    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80%;
        margin-left: 25%; /* Adjusted margin */
        margin-top: 10vh;
    }

    .gallery-img {
        position: relative;
        box-sizing: border-box;
        padding: 10px;
        margin: 20% 0;
    }

    .gallery-img:nth-child(even) {
        margin-left: 5%;
        margin-right: auto;
    }

    .gallery-img:nth-child(odd) {
        margin-right: 5%;
        margin-left: auto;
    }

    .gallery-img img {
        width: 70vw;
        height: auto;
    }

    .gallery-img .info-display {
        right: -20px;
        bottom: -20px;
    }

    .gallery-img h3 {
        margin-top: -20%;
        color: white;
        font-size: 2vw;
        width: 40%;
    }

    .info-display {
        position: absolute;
        bottom: -20px;
        right: -20px;
        display: inline-block;
        width: 60%;
        height: 7vh;
        border: #000000 solid;
        background-color: #000000;
        color: white;
        border-radius: 2px;
    }

    .info-display a {
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        text-decoration: none;
    }

    /* Accordion */
    .accordion {
        max-width: 80%;
        padding: 0 20px;
        margin-left: 20%; /* Adjusted margin */
    }

    .slides {
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
    }

    .slider {
        list-style-type: none;
        height: 400px;
        width: 5%;
        overflow: hidden;
        transition: all 500ms linear;
    }

    .slider a.action {
        display: block;
        height: 100%;
        position: relative;
    }

    .slider a.action span {
        font-weight: 600;
        color: #fff;
        transform: rotate(270deg);
        position: absolute;
        top: 10%;
        width: 140px;
        left: -30%;
        height: 100px;
    }

    .slide-content {
        display: block;
        width: 100%;
        padding: 40px;
        color: #fff;
    }

    .active {
        width: 80%;
    }

    .active a.action {
        display: none;
    }

    /* Brand Colors */
    .brand1 {
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }

    .brand2 {
        background-color: #b43e8f;
    }

    .brand3 {
        background-color: #6200b3;
    }

    .brand4 {
        background-color: #3b0086;
    }

    .brand5 {
        background-color: #290628;
    }

    /* Footer */
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 20%; /* Adjusted margin */
        padding: 0;
        background-color: white;
        width: 80%;
        height: auto;
        z-index: 9999;
    }
}


/*splach screen*/
#splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    line-height: 90vh;
    z-index: 9999;
}

#splashscreen.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    text-align: center;
    line-height: 90vh;
    z-index: -10;
    transition: all 0s; /*change 0 to 0.5 later*/
}


@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
