/*
Lightblue mobile view
Lighpink tablet view
Lightseagreen desktop view
*/

/*
Brand colors
#ffffff
#493e44
#605a5e
#777678
#8f9393
*/

/*phone display*/
@media only screen and (max-width: 600px) {
    body{
        background-color: lightblue;
    }

    .navbar{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        color: darkgray;
        z-index: 9998;
    }

    @keyframes nav-animation{
        0% {
            opacity: 0;
            top: -100%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }
    
    .nav-animation{
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
        animation-direction: normal;
    }

    .nav-button {
        display: inline-block;
        position: fixed;
        right: 20px;
        top: 25px;
        z-index: 9999; /* Ensure the button is above other elements */
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        outline: none;
    }
    
    .nav-button .fas {
        font-size: 4vh;
    }
    

    .Home-links a{
        margin: 0px;
        display: inline-block;
        text-decoration: none;
        color: white;
        text-align: left;
        padding-left: 5%;
    }

    /* .Home-links a:hover{
        color: darkgray;
    }

    .link-hover{
        margin-top: -20px;
        margin-left: 20px;
        color: darkgray;
        border: solid darkgray;
        width: 0%;
        border-radius: 20%;
    }

    .link-hover:hover{
        margin-top: -20px;
        margin-left: 20px;
        color: darkgray;
        border: solid darkgray;
        width: 20%;
        border-radius: 20%;
    }

    .nav-links-hover{
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
        animation-direction: normal;
    }

    @keyframes nav-links-hover {
        0% {
            width: 0%;
        }
        100% {
            width: 20%;
        }
    } */

    @keyframes nav-link-animation{
        0% {
            opacity: 0;
            top: -100%;
        }
        50%{
            opacity: 0;
            top: 50%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }
    
    .nav-link-animation{
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
        animation-delay: 0.5s;
        animation-direction: normal;
    }

    /********************************************************************/

    /* Carousel/slideshow */
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }
    
    .slides {
        display: none;
    }
    
    .slides img {
        width: 100%;
        height: auto;
    }
    
    .fade {
        animation-name: fade;
        animation-duration: 2s;
    }
    
    @keyframes fade {
        from {opacity: 0.4}
        to {opacity: 1}
    }

    .slides h3{
        color: white;
        position: absolute;
        text-align: center;
        left: 20%;
        top: 50%;
        font-size: 6vh;
        font-family: 'Courier New', Courier, monospace; /*change later*/
    }


    /* Welcome Message */

    .welcome-message{
        display: inline-block;
        width: 90%;
        margin-top: 3vh;
        margin-right: 5%;
        text-align: left;
        /* background-image: url("./Assets/carousel1.jpeg"); */
    }

    .welcome-message h1{
        font-size: 9vw;
    }


    /* Gallery */
    .gallery {
        margin: 20% 0 0 0;
        display: block;
        justify-content: center;
    }
    
    .gallery-img {
        box-sizing: border-box;
    }

    .gallery-img img{
        width: 90vw;
        height: auto;
    }

    .info-display {
        top: 0;
        display: inline-block;
        width: 60%;
        height: 7vh;
        border: #000000 solid;
        background-color: #000000;
        color: white;
        border-radius: 2px;
    }
    
    .info-display a {
        bottom: 0;
        right: 0;
        color: white;
        text-decoration: none;
    }
    

    /********************************************************************/

      
    /* Footer*/
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: white;
        width: 100%;
        height: auto;
    }


}

/* Tablet view*/
@media only screen and (min-width: 601px) {

    body{
        background-color: lightpink;
    }

    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        color: darkgray;
        padding-top: 20%;
        z-index: 9998;
    }

    @keyframes nav-animation{
        0% {
            opacity: 0;
            top: -100%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }
    
    .nav-animation{
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
        animation-direction: normal;
    }

    .nav-button {
        display: inline-block;
        position: fixed;
        right: 20px;
        top: 25px;
        z-index: 9999; /* Ensure the button is above other elements */
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        outline: none;
    }
    
    .nav-button .fas {
        font-size: 4vh;
    }
    

    .Home-links a{
        margin: 0px;
        display: inline-block;
        text-decoration: none;
        color: white;
        text-align: left;
        padding-left: 5%;
    }

    /* .Home-links a:hover{
        color: darkgray;
    }

    .link-hover{
        margin-top: -20px;
        margin-left: 20px;
        color: darkgray;
        border: solid darkgray;
        width: 0%;
        border-radius: 20%;
    }

    .link-hover:hover{
        margin-top: -20px;
        margin-left: 20px;
        color: darkgray;
        border: solid darkgray;
        width: 20%;
        border-radius: 20%;
    }

    .nav-links-hover{
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
        animation-direction: normal;
    }

    @keyframes nav-links-hover {
        0% {
            width: 0%;
        }
        100% {
            width: 20%;
        }
    } */

    @keyframes nav-link-animation{
        0% {
            opacity: 0;
            top: -100%;
        }
        50%{
            opacity: 0;
            top: 50%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }
    
    .nav-link-animation{
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
        animation-delay: 0.5s;
        animation-direction: normal;
    }

    /********************************************************************/

    /* Carousel/slideshow */
    .slideshow-container {
        max-width: 100%;
        position: relative;
        margin: auto;
    }
    
    .slides {
        display: none;
    }
    
    .slides img {
        width: 100%;
        height: auto;
    }
    
    .fade {
        animation-name: fade;
        animation-duration: 2s;
    }
    
    @keyframes fade {
        from {opacity: 0.4}
        to {opacity: 1}
    }

    .slides h3{
        color: white;
        position: absolute;
        text-align: center;
        left: 20%;
        top: 50%;
        font-size: 6vh;
        font-family: 'Courier New', Courier, monospace; /*change later*/
    }

    /* Welcome Message */
    .welcome-message{
        display: inline-block;
        width: 90%;
        margin-top: 3vh;
        margin-right: 5%;
        text-align: left;
        /* background-image: url("./Assets/carousel1.jpeg"); */
    }

    .welcome-message h1{
        font-size: 9vw;
    }  


    /* Gallery */
    .gallery {
        display: flex;
        flex-direction: column; /* Change flex direction to column */
        align-items: center; /* Center align items horizontally */
        max-width: 100%;
    }

    .gallery-img {
        flex: 0 0 100%; /* Set each image to occupy 100% width */
        box-sizing: border-box;
        padding: 10px;
        margin: 10px 0; /* Add vertical margin to separate images */
    }

    .gallery-img img{
        width: 80vw;
        height: auto;
    }
    
    .gallery-img:nth-child(even) {
        margin-left: 0;
        margin-right: auto;
    }
    
    .gallery-img:nth-child(odd) {
        margin-right: 0;
        margin-left: auto;
    }

    .info-display {
        top: 0;
        display: inline-block;
        width: 60%;
        height: 7vh;
        border: #000000 solid;
        background-color: #000000;
        color: white;
        border-radius: 2px;
    }
    
    .info-display a {
        bottom: 0;
        right: 0;
        color: white;
        text-decoration: none;
    }

    /********************************************************************/
      
    /* Footer*/
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: white;
        width: 100%;
        height: auto;
    }

}


/*Desktop and above*/
@media only screen and (min-width: 992px) {
    
    body{
        background-color: lightseagreen;    
    }

    .navbar{
        position: fixed;
        vertical-align: middle;
        width: 20%;
        height: 100%;
        background-color: transparent;
        opacity: 1;
        color: darkgray;
        z-index: 9998;
    }

    .nav-button {
        display: none;
    }

    .Home-links a{
        font-size: 2vh;
        margin: 0px;
        display: inline-block;
        text-decoration: none;
        color: black;
        text-align: left;
    }

    /********************************************************************/

    /* Welcome Message */
    .welcome-message{
        display: inline-block;
        width: auto;
        padding: 0;
        margin: 0 0 0 20%;
        text-align: right;
        /* background-image: url("./Assets/carousel1.jpeg"); */
    }

    .welcome-message h1{
        font-size: 9vw;
    }


    /* Gallery */
    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80%;
        margin-left: 25%;
        margin-top: 10vh;
    }
    
    .gallery-img {
        position: relative;
        box-sizing: border-box;
        padding: 10px;
        margin: 20% 0;
    }
    
    .gallery-img:nth-child(even) {
        margin-left: 5%;
        margin-right: auto;
    }
    
    .gallery-img:nth-child(odd) {
        margin-right: 5%;
        margin-left: auto;
    }
    
    .gallery-img img {
        width: 70vw;
        height: auto;
    }

    .gallery-img .info-display {
        right: -20px;
        bottom: -20px;
    }

    
    .gallery-img h3 {
        margin-top: -20%;
        color: white;
        font-size: 2vw;
        width: 40%;
    }
    
    .info-display {
        position: absolute;
        bottom: -20px;
        right: -20px;
        display: inline-block;
        width: 60%;
        height: 7vh;
        border: #000000 solid;
        background-color: #000000;
        color: white;
        border-radius: 2px;
    }
    
    .info-display a {
        position: absolute;
        bottom: 0;
        right: 0;
        color: white;
        text-decoration: none;
    }
    

    /* Accordion */
    .accordion {
        max-width: 80%;
        padding: 0 20px;
        margin-left: 20%;
    }
    
    .slides {
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .slider {
        list-style-type: none;
        height: 400px;
        width: 5%;
        overflow: hidden;
    
        -webkit-transition:all 500ms linear;
        -moz-transition:all 500ms linear;
        -o-transition:all 500ms linear;
        -ms-transition:all 500ms linear;
        transition:all 500ms linear;
    }

    .slider a.action{
        display: block;
        height: 100%;
        position: relative;
    }
    .slider a.action span{
        font-weight: 600;
        color:#fff;
        transform: rotate(270deg);
        position: absolute;
        top: 10%;
        width: 140px;
        left: -30%;
        height: 100px;
    }
    .slide-content{
        display: block;
        width: 100%;
        padding: 40px;
        color:#fff;
        
    }

    .active {
        width:80%;
    }

    .active a.action{
        display: none;
    }

    /* brands colors */
    .brand1{
        background-image: url(Assets/stock1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand2{
        background-color: #b43e8f
    }
    .brand3{
        background-color: #6200b3
    }
    .brand4{
        background-color: #3b0086
    }
    .brand5{
        background-color: #290628
    }

      
    /********************************************************************/ 
    
    /* Footer*/
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        margin-left: 20%;
        padding: 0;
        background-color: white;
        width: 80%;
        height: auto;
    }

}

/*splach screen*/
#splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    line-height: 90vh;
    z-index: 9999;
}

#splashscreen.display-none {
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #000000;
    text-align: center;
    line-height: 90vh;
    z-index: -10;
    transition: all 0s; /*change 0 to 0.5 later*/
}


@keyframes fadeIn{
    to{
        opacity: 1;
    }
}

.fade-in{
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
}
