html{
    max-width: 100%;
    overflow-x: hidden;
}

body {
    max-width: 100%;
    background-image: url(../Assets/background3.png), url(../Assets/background4.png);
    background-size: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: sans-serif;
}


/*
Brand colors
#ffffff
#493e44
#605a5e
#777678
#8f9393
*/

/* Phone display */
@media only screen and (max-width: 600px) {

    /* Navbar */
    .navbar {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        color: darkgray;
        font-size: 10vh;
        z-index: 9998;
    }

    .nav-link-animation {
        position: relative;
        text-decoration: none;
    }
    
    .nav-link-animation::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
    
    .nav-link-animation:hover::before {
        transform: scaleX(1);
    }

    /* Navbar Animation */
    @keyframes nav-animation{
        0% {
            opacity: 0;
            top: -100%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }
    
    .nav-animation{
        opacity: 0;
        animation: nav-animation 1s ease-in forwards;
        animation-direction: normal;
    }

    /* Header */

    header{
        position: fixed;
        top: 0px;
        display: block;
        width: 100%;
        height: auto;
        background-color: white;
        z-index: 9999;
    }

    header img{
        width: 40%;
    }

    /* Navbar Button */
    .nav-button {
        display: inline-block;
        position: fixed;
        right: 20px;
        top: 7px;
        z-index: 9999;
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        outline: none;
    }
    
    .nav-button .fas {
        font-size: 4vh;
    }

    /* Home Links */
    .Home-links a{
        margin: 0px;
        display: inline-block;
        text-decoration: none;
        color: white;
        text-align: left;
        padding-left: 5%;
    }

    /* Nav Link Animation */
    @keyframes nav-link-animation{
        0% {
            opacity: 0;
            top: -100%;
        }
        50%{
            opacity: 0;
            top: 50%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }
    
    .nav-link-animation{
        opacity: 0;
        animation: nav-link-animation 0.1s ease-in forwards;
        animation-delay: 0.5s;
        animation-direction: normal;
    }

    /********************************************************************/

    /* Welcome Message */
    .welcome-message{
        display: inline-block;
        width: 90%;
        max-width: 90%;
        margin-top: 20%;
        margin-left: 10%;
        margin-bottom: 10vh;
        text-align: left;
        font-size: 11vw;
        white-space: nowrap;
        overflow: hidden;
        animation: animate 2s linear forwards;
        color: #222;
        overflow-y: hidden;
        animation-delay: 3s;
    }

    .welcome-message pre{
        overflow: hidden;
    }
      
    @keyframes animate {
        0% {
            width: 0px;
        }
        100% {
            width: 100%;
        }
    }

    /* Carousel */
    #carousel {
        margin: 0 2% 50% 0%;
        width: 130%;
        max-width: 130%;
    }

    .carousel-item img {
        max-width: 100%;
        height: auto;
        transition: transform 0.5s ease;
    }

    /* Gallery */
    .gallery {
        width: 100%;
        margin: 5px;
        display: block;
        justify-content: center;
    }
    
    .gallery-img {
        position: relative;
        padding-bottom: 200px;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
    }

    .gallery-img img {
        width:100%;
        height: auto;
    }

    .gallery-name {
        position: absolute;
        color: darkgray;
        font-size: 7vw;
        text-decoration: underline;
        top: 0;
        -webkit-text-stroke-width: 0.5px;
        -webkit-text-stroke-color: cornsilk;
    }

    .info-display {
        position: absolute;
        display: inline-block;
        width: 60%;
        height: 130px;
        top: 50%;
        right: 0;
        border: #000000 solid;
        background-color: #000000;
        color: white;
        border-radius: 2px;
        max-width: 60%;
    }
    
    .info-display a {
        color: white;
        text-decoration: none;
    }

    .gallery-social-media-div {
        width: 40%;
        max-width: 40%;
        margin: 0;
        position: relative;
        right: 0;
    }

    .gallery-social-media {
        position: relative;
        font-size: 5vw;
        color: black;
    }
    
    /* Accordion */
    .accordion {
        position: relative;
        max-width: 100%;
        padding: 0 30px 0 0;
    }
    
    .slides {
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: scroll;
    }
    
    .slider {
        list-style-type: none;
        height: 400px;
        width: 5%;
        overflow: scroll;
        transition: all 500ms linear;
    }

    .slider a.action{
        display: block;
        height: 100%;
        position: relative;
    }
    .slider a.action span{
        font-weight: 600;
        color:#fff;
        transform: rotate(270deg);
        position: absolute;
        top: 10%;
        width: 140px;
        left: -30%;
        height: 100px;
    }
    .slide-content{
        display: block;
        width: 100%;
        padding: 40px;
        color:#fff;
        
    }

    .slide-content p{
        width: 100%;
        overflow: scroll;
    }

    .active {
        width:80%;
    }

    .active a.action{
        display: none;
    }

    .accordion-control-prev{
        position: absolute;
        top: 40%;
        left: 0;
        margin-right: auto;
        font-size: 5vh;
        border: none;
        background-color: transparent;
    }

    .accordion-control-next{
        position: absolute;
        top: 40%;
        right: 0;
        margin-left: auto;
        font-size: 5vh;
        border: none;
        background-color: transparent;
    }

    /* Brand Colors */
    .brand1{
        background-image: url(../Assets/stock\ 1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand2{
        background-color: #b43e8f;
        background-image: url(../Assets/stock\ 2.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand3{
        background-color: #6200b3;
        background-image: url(../Assets/stock\ 3.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand4{
        background-color: #3b0086;
        background-image: url(../Assets/stock\ 4.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand5{
        background-color: #290628;
        background-image: url(../Assets/stock\ 5.jpeg);
        background-size: cover;
        background-position-y: top;
    }

    /********************************************************************/
      
    /* Footer */
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: white;
        width: 100%;
        height: auto;
    }

    
    /********************************************************************/
    /* Contact page */

    .contact-us{
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .contact{
        position: relative;
        width: 98%;
        margin: auto;
        height: auto;
        padding: 5% 10% 5% 10%;
        display: block;
        border: #000000 solid;
        border-width: 1px;
        border-radius: 5px;
        color: darkgray;
        background-color: #222;
    }

    .contact h1{
        font-size: 10vh;
    }

    #contact-select-1, #contact-select-2, #contact-select-3 {
        color: darkgray;
        padding-left: 30px;
    }
    
    #contact-select-1 i, #contact-select-2 i, #contact-select-3 i {
        padding-right: 10px;
    }

    #contact-select-1{
        position: relative;

        top: 0;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-1 i{
        transform: rotate(90deg);
    }

    #contact-select-1:hover{
        color: white;
    }


    #contact-select-2{
        position: relative;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-2:hover{
        color: white;
    }
    
    #contact-select-3{
        position: relative;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-3:hover{
        color: white;
    }

    .job-request{
        display: display;
    }

    .cooperation{
        display: none;
    }

    .recruitment{
        display: none;
    }

    .contact label{
        margin-top: 10%;
        font-size: 2vh;
    }

    .contact input, textarea{
        width: 100%;
        height: 50px;
        background-color: transparent;
        border-style: solid;
        border-color: darkgray;
        border-width: 1px;
        margin-top: 2%;
    }

    .contact input:hover{
        background-color: darkgray;
        color: #222;
    }

    .contact input:focus, input:focus {
        color: darkgray;
    }

    .contact #submit{
        color: darkgray;
    }

    .contact #submit:hover{
        color: #222;
        background-color: darkgray;
    }

    .radio-container {
        display: inline-block;
    }

    input[type="radio"] {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #222;
        background-color: white;
        cursor: pointer;
        outline: none;
        position: relative;
        top: 5px;
    }

    input[type="radio"]:checked {
        background-color: #222;
    }

    label {
        padding-left: 10px;
    }

    input[type="radio"]:hover {
        background-color: darkgray;
    }

    input[type="file"] {
        display: block;
    }

    .custom-file-input {
        position: relative;
        width: 100%;
    }

    .custom-file-input::before {
        content: 'Choose File';
        display: inline-block;
        background-color: transparent;
        border: 2px solid #555;
        padding: 8px 12px;
        cursor: pointer;
        width: calc(100% - 4px);
        text-align: center;
    }

    .custom-file-input:hover::before {
        background-color: #ddd;
    }

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    /* Required Warning properties */
    .required-warning{
        display: none;
        color: red;
        float: right;
        padding-left: 20px;
    }

    /* Splash Screen text font size */
    .fade-in {
        position: fixed;
        top: 50%;
        left: 20%;
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
        font-size: 200%;
    }
}


/* Tablet view */
@media only screen and (min-width: 601px) {

    /* Navbar */
    .navbar{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0;
        color: darkgray;
        font-size: 10vh;
        z-index: 9998;
    }

    .nav-link-animation {
        position: relative;
        text-decoration: none;
    }
    
    .nav-link-animation::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
    
    .nav-link-animation:hover::before {
        transform: scaleX(1);
    }

    /* Header */

    header{
        position: fixed;
        width: 100%;
        max-width: 100%;
        height: auto;
        background-color: white;
        z-index: 9999;
    }

    header img{
        width: 50%;
    }

    /* Navbar Button */
    .nav-button {
        display: inline-block;
        position: fixed;
        right: 20px;
        top: 25px;
        z-index: 9999;
        border: none;
        background-color: transparent;
        padding: 0;
        cursor: pointer;
        outline: none;
    }

    .nav-button .fas {
        font-size: 4vh;
    }

    /* Home Links */
    .Home-links a{
        margin: 0;
        display: inline-block;
        text-decoration: none;
        color: white;
        text-align: left;
        padding-left: 5%;
    }

    /* Nav Link Animation */
    @keyframes nav-link-animation {
        0% {
            opacity: 0;
            top: -100%;
        }
        50%{
            opacity: 0;
            top: 50%;
        }
        100% {
            opacity: 1;
            top: 50%;
        }
    }

    .nav-link-animation {
        opacity: 0;
        animation: nav-link-animation 0.1s ease-in forwards;
        animation-delay: 0.5s;
        animation-direction: normal;
    }

    /********************************************************************/

    /* Welcome Message */
    .welcome-message{
        display: inline-block;
        width: 80%;
        max-width: 80%;
        margin-top: 10%;
        margin-left: 12.5%;
        margin-right: 12.5;
        margin-bottom: 15%;
        font-size: 9vw;
        white-space: nowrap;
        overflow: hidden;
        animation: animate 2s linear forwards;
        color: #222;
        overflow-y: hidden;
        animation-delay: 2.5s;
    }

    .welcome-message pre{
        overflow: hidden;
    }
      
    @keyframes animate {
        0% {
            width: 0px;
        }
        100% {
            width: 100%;
        }
    }

    /* Carousel */
    #carousel {
        margin-bottom: 30%;
        width: 130%;
    }

    .carousel-item img {
        max-width: 100%;
        height: auto;
        transition: transform 0.5s ease;
    }

    /* Gallery */
    .gallery {
        width: 100%;
        margin: 5px 5px 200px 5px;
        display: block;
        justify-content: center;
    }
    
    .gallery-img {
        position: relative;
        padding-bottom: 200px;
        box-sizing: border-box;
    }

    .gallery-img img{
        width:100%;
        height: auto;
    }

    .gallery-name{
        position: absolute;
        color: darkgray;
        font-size: 7vw;
        text-decoration: underline;
        top: -5px;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
    }

    .info-display {
        position: absolute;
        display: inline-block;
        width: 60%;
        height: 110px;
        top: 70%;
        right: 0;
        border: #000000 solid;
        background-color: #000000;
        color: white;
        border-radius: 2px;
    }

    .info-display p{
        font-size: 120%;
    }
    
    .info-display a {
        color: white;
        text-decoration: none;
    }

    .gallery-social-media{
        width: 40%;
        position: relative;
        font-size: 6vw;
        color: black;
        padding: 10px;
    }

    /* Accordion */
    .accordion {
        max-width: 100%;
        padding: 0 20px;
    }
    
    .slides {
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .slider {
        list-style-type: none;
        height: 400px;
        width: 5%;
        overflow: hidden;
        transition: all 500ms linear;
    }

    .slider a.action{
        display: block;
        height: 100%;
        position: relative;
    }
    .slider a.action span{
        font-weight: 600;
        color:#fff;
        transform: rotate(270deg);
        position: absolute;
        top: 10%;
        width: 140px;
        left: -30%;
        height: 100px;
    }
    .slide-content{
        display: block;
        width: 100%;
        padding: 40px;
        color:#fff;
        
    }

    .active {
        width:80%;
    }

    .active a.action{
        display: none;
    }

    .accordion-buttons{
        display: none;
    }

    /* Brand Colors */
    .brand1{
        background-image: url(../Assets/stock\ 1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand2{
        background-color: #b43e8f;
        background-image: url(../Assets/stock\ 2.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand3{
        background-color: #6200b3;
        background-image: url(../Assets/stock\ 3.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand4{
        background-color: #3b0086;
        background-image: url(../Assets/stock\ 4.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand5{
        background-color: #290628;
        background-image: url(../Assets/stock\ 5.jpeg);
        background-size: cover;
        background-position-y: top;
    }

    /* Footer */
    .footer{
        position: relative;
        bottom: 0;
        left: 0;
        margin: 0;
        padding: 0;
        background-color: white;
        width: 100%;
        height: auto;
    }

    
    /********************************************************************/
    /* Contact page */

    .contact-us{
        width: 100%;
        max-width: 100%;
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .contact{
        position: relative;
        width: 98%;
        margin: auto;
        height: auto;
        padding: 5% 10% 5% 10%;
        display: block;
        border: #000000 solid;
        border-width: 1px;
        border-radius: 5px;
        color: darkgray;
        background-color: #222;
    }

    .contact h1{
        font-size: 10vh;
    }

    #contact-select-1, #contact-select-2, #contact-select-3 {
        color: darkgray;
        padding-left: 30px;
    }
    
    #contact-select-1 i, #contact-select-2 i, #contact-select-3 i {
        padding-right: 10px;
    }

    #contact-select-1{
        position: relative;

        top: 0;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-1 i{
        transform: rotate(90deg);
    }

    #contact-select-1:hover{
        color: white;
    }


    #contact-select-2{
        position: relative;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-2:hover{
        color: white;
    }
    
    #contact-select-3{
        position: relative;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-3:hover{
        color: white;
    }

    .job-request{
        display: display;
    }

    .cooperation{
        display: none;
    }

    .recruitment{
        display: none;
    }

    .contact label{
        margin-top: 10%;
        font-size: 2vh;
    }

    .contact input, textarea{
        width: 100%;
        height: 50px;
        background-color: transparent;
        border-style: solid;
        border-color: darkgray;
        border-width: 1px;
        margin-top: 2%;
    }

    .contact input:hover{
        background-color: darkgray;
        color: #222;
    }

    .contact input:focus, input:focus {
        color: darkgray;
    }

    .contact #submit{
        color: darkgray;
    }

    .contact #submit:hover{
        color: #222;
        background-color: darkgray;
    }

    .radio-container {
        display: inline-block;
    }

    input[type="radio"] {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #222;
        background-color: white;
        cursor: pointer;
        outline: none;
        position: relative;
        top: 5px;
    }

    input[type="radio"]:checked {
        background-color: #222;
    }

    label {
        padding-left: 10px;
    }

    input[type="radio"]:hover {
        background-color: darkgray;
    }

    input[type="file"] {
        display: block;
    }

    .custom-file-input {
        position: relative;
        width: 100%;
    }

    .custom-file-input::before {
        content: 'Choose File';
        display: inline-block;
        background-color: transparent;
        border: 2px solid #555;
        padding: 8px 12px;
        cursor: pointer;
        width: calc(100% - 4px);
        text-align: center;
    }

    .custom-file-input:hover::before {
        background-color: #ddd;
    }

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    /* Required Warning properties */
    .required-warning{
        display: none;
        color: red;
        float: right;
        padding-left: 20px;
    }

    /* Splash Screen text font size */
    .fade-in {
        position: fixed;
        top: 50%;
        left: 40%;
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
        font-size: 300%;
    }
}



/* Desktop and above */
@media only screen and (min-width: 992px) {

    /* Navbar */
    .navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 20%;
        max-width: 100%;
        height: 100%;
        background-color: transparent;
        opacity: 1;
        color: darkgray;
        font-size: 100%;
        z-index: 9998;
    }

    .nav-link-animation {
        position: relative;
        text-decoration: none;
    }
    
    .nav-link-animation::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
    
    .nav-link-animation:hover::before {
        transform: scaleX(1);
    }
    
    /* Navbar Button */
    .nav-button {
        display: none;
    }

    .main-logo{
        position: fixed;
        display: block;
        bottom: 2%;
        left: 1%;
        width: 10%;
        max-width: 15%;
        height: auto;
    }

    /* Home Links */
    .Home-links a {
        margin: 0;
        display: inline-block;
        text-decoration: none;
        color: black;
        text-align: left;
    }

    /* Welcome Message */
    .welcome-message{
        display: inline-block;
        width: 80%;
        margin-top: 10%;
        margin-left: 20%;
        margin-bottom: 15%;
        text-align: left;
        font-size: 9vw;
        white-space: nowrap;
        overflow: hidden;
        animation: animate 2s linear forwards;
        color: #222;
        overflow-y: hidden;
        animation-delay: 3s;
    }

    .welcome-message pre{
        overflow: hidden;
    }
      
    @keyframes animate {
        0% {
            width: 0px;
        }
        100% {
            width: 100%;
        }
    }

    /* Carousel */
    #carousel {
        margin-left: 20%;
        width: 100%;
        max-width: 100%;
        padding: 0;
    }

    .carousel-item img {
        max-width: 100%;
        max-height: 700px;
        height: auto;
        transition: transform 0.5s ease;
    }

    /* Gallery */
    .gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 80%;
        margin-left: 25%;
        margin-top: 10vh;
    }

    .gallery-img {
        position: relative;
        box-sizing: border-box;
        padding: 10px;
        margin: 20% 0;
    }

    .gallery-img:nth-child(odd) {
        margin-left: 5%;
        margin-right: auto;
    }

    .gallery-img:nth-child(even) {
        margin-right: 5%;
        margin-left: auto;
    }

    .gallery-img img {
        width: 70vw;
        height: auto;
    }

    .info-display{
        position: absolute;
        max-width: 60%;
        width: 60%;
        margin: 0;
        top: 85%;
        max-height: 10%;
        border: #000000 solid;
        background-color: #222;
        color: white;
        border-radius: 2px;
    }
    
    .gallery-name::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: darkgray;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
    
    .gallery-name:hover::before {
        transform: scaleX(1);
    }
    
    .gallery-name{
        position: absolute;
        top: -70px;
        text-decoration: none;
        color: darkgray;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
    }

    .gallery-name h3{
        margin-top: -20%;
        color: black;
        font-size: 2vw;
        width: 40%;
    }

    .gallery-social-media {
        font-size: 2vw;
        color: black;
        padding: 0;
        width: 10%;
    }

    .gallery-social-media a{
        width: 20px;
    }
    
    
    .info-display a {
        color: white;
        text-decoration: none;
    }

    /* Accordion */
    .accordion {
        max-width: 80%;
        padding: 0 20px;
        margin-left: 20%;
    }

    .slides {
        width: 100%;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
    }

    .slider {
        list-style-type: none;
        height: 400px;
        width: 5%;
        overflow: hidden;
        transition: all 500ms linear;
    }

    .slider a.action {
        display: block;
        height: 100%;
        position: relative;
    }

    .slider a.action span {
        font-weight: 600;
        color: #fff;
        transform: rotate(270deg);
        position: absolute;
        top: 10%;
        width: 140px;
        left: -30%;
        height: 100px;
    }

    .slide-content {
        display: block;
        width: 90%;
        padding: 40px;
        color: #fff;
    }

    .active {
        width: 80%;
    }

    .active a.action {
        display: none;
    }

    .accordion-buttons{
        display: none;
    }

    /* Brand Colors */
    .brand1{
        background-image: url(../Assets/stock\ 1.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand2{
        background-color: #b43e8f;
        background-image: url(../Assets/stock\ 2.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand3{
        background-color: #6200b3;
        background-image: url(../Assets/stock\ 3.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand4{
        background-color: #3b0086;
        background-image: url(../Assets/stock\ 4.jpeg);
        background-size: cover;
        background-position-y: top;
    }
    .brand5{
        background-color: #290628;
        background-image: url(../Assets/stock\ 5.jpeg);
        background-size: cover;
        background-position-y: top;
    }

    /* Footer */
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        margin-left: 20%;
        padding: 0;
        background-color: white;
        width: 80%;
        height: auto;
        z-index: 9999;
    }

    /********************************************************************/
    /* Contact page */

    .contact-us{
        width: 80%;
        max-width: 100%;
        margin-left: 20%;
        height: auto;
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .contact{
        position: relative;
        margin-left: 15%;
        width: 80%;
        height: auto;
        padding: 5% 10% 5% 10%;
        display: block;
        border: #000000 solid;
        border-width: 1px;
        border-radius: 5px;
        color: darkgray;
        background-color: #222;
    }

    .contact h1{
        font-size: 10vh;
    }

    #contact-select-1, #contact-select-2, #contact-select-3 {
        color: darkgray;
        padding-left: 30px;
    }
    
    #contact-select-1 i, #contact-select-2 i, #contact-select-3 i {
        padding-right: 10px;
    }

    #contact-select-1{
        position: relative;

        top: 0;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-1 i{
        transform: rotate(90deg);
    }

    #contact-select-1:hover{
        color: white;
    }


    #contact-select-2{
        position: relative;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-2:hover{
        color: white;
    }
    
    #contact-select-3{
        position: relative;
        font-size: 3vh;
        border-style: none;
        background-color: transparent;
    }

    #contact-select-3:hover{
        color: white;
    }

    .job-request{
        display: display;
    }

    .cooperation{
        display: none;
    }

    .recruitment{
        display: none;
    }

    .contact label{
        margin-top: 10%;
        font-size: 2vh;
    }

    .contact input, textarea{
        width: 100%;
        height: 50px;
        background-color: transparent;
        border-style: solid;
        border-color: darkgray;
        border-width: 1px;
        margin-top: 2%;
        color: lightgray;
    }

    .contact input:hover{
        background-color: darkgray;
        color: #222;
    }

    .contact input:focus {
        color: white;
    }

    .contact #submit{
        color: darkgray;
    }

    .contact #submit:hover{
        color: #222;
        background-color: darkgray;
    }

    .radio-container {
        display: inline-block;
    }

    input[type="radio"] {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #222;
        background-color: white;
        cursor: pointer;
        outline: none;
        position: relative;
        top: 5px;
    }

    input[type="radio"]:checked {
        background-color: #222;
    }

    label {
        padding-left: 10px;
    }

    input[type="radio"]:hover {
        background-color: darkgray;
    }

    input[type="file"] {
        display: block;
    }

    .custom-file-input {
        position: relative;
        width: 100%;
    }

    .custom-file-input::before {
        content: 'Choose File';
        display: inline-block;
        background-color: transparent;
        border: 2px solid #555;
        padding: 8px 12px;
        cursor: pointer;
        width: calc(100% - 4px);
        text-align: center;
    }

    .custom-file-input:hover::before {
        background-color: #ddd;
    }

    input[type="file"] {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
    }

    /* Required Warning properties */
    .required-warning{
        display: none;
        color: red;
        float: right;
        padding-left: 20px;
    }

    /* Splash Screen text font size */
    .fade-in {
        position: fixed;
        top: 50%;
        left: 50%;
        opacity: 0;
        animation: fadeIn 1s ease-in forwards;
        font-size: 400%;
    }
}

/* splash screen */
#splashscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url(../Assets/background3-reverse.png);
    background-repeat: repeat;
    color: #ffffff;
    text-align: center;
    line-height: 90vh;
    z-index: 9999;
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

#splascreen p{
    font-size: 500%;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* hide splash screen */
#splashscreen.hidden {
    opacity: 0;
    z-index: -10;
}
